/* visibility Test styles */

    .test-1 {
        background-color: blueviolet;
        border: 1px dashed black;
    }

    .test-2 {
        background-color: orange;
        border: 1px solid black;
    }

/* Menu styles */

    .menu {
        top: 0;
        position: absolute;
        z-index: 2;
    }

    .mobile_menu {
        display: none;
    }

/* Width classes*/

    .w100 {
        width: 100%;
    }

    .w-fit {
        width: fit-content;
    }

/* Height classes*/

    .h-500 {
        height: 500px;
    }

    .h-300 {
        height: 300px;
    }

    .h100 {
        height: 100%;
    }

    .h-fit {
        height: fit-content;
    }


/* Padding classes*/

    .padd-5 {
        padding: 5px;
    }

    .padd-10 {
        padding: 10px;
    }

    .padd-30 {
        padding: 30px;
    }

    .padd-t-30 {
        padding-top: 30px;
    }

    .padd-l-5 {
        padding-left: 5px;
    }

    .padd-r-5 {
        padding-right: 5px;
    }

    .padd-l-10 {
        padding-left: 10px;
    }

    .padd-l-10 {
        padding-right: 10px;
    }

    .padd-lr-5 {
        padding: 0px 5px;
    }

    .padd-lr-10 {
        padding: 0px 10px;
    }

    .padd-lr-20 {
        padding: 0px 20px;
    }

/* Margin classes*/

    .marg-5 {
        margin: 5px;
    }

    .marg-10 {
        margin: 10px;
    }

    .marg-t-20 {
        margin-top: 20px;
    }

    .marg-b-20 {
        margin-bottom: 20px;
    }

    .marg-l-5 {
        margin-left: 5px;
    }

    .marg-r-5 {
        margin-right: 5px;
    }

    .marg-l-10 {
        margin-left: 10px;
    }

    .marg-l-20 {
        margin-left: 10px;
    }

    .marg-r-10 {
        margin-right: 10px;
    }

    .marg-lr-5 {
        margin: 0px 5px;
    }

    .marg-lr-10 {
        margin: 0px 10px;
    }

    .marg-lr-20 {
        margin: 0px 20px;
    }

/* Display classes*/

    .flex {
        display: flex;
    }

    .flex-column {
        flex-direction: column;
    }

    .flex-align-center {
        align-items: center;
    }
    
    .flex-justify-center {
        justify-content: center;
    }

    .flex-space-between {
        justify-content: space-between;
    }

    .inline-block {
        display: inline-block;
    }

    .block {
        display: block;
    }

    .grid {
        display: grid;
    }

/* Position classes*/

    .pos-relative {
        position: relative;
    }

    .pos-absolute {
        position: absolute;
    }

    .pos-fixed {
        position: fixed;
    }

    .float-left {
        float: left;
    }

    .float-right {
        float: left;
    }

    .clear {
        clear: both;
    }

/* Text Classes*/

    .font-20 {
        font-size: 20px;
    }

    .font-40 {
        font-size: 45px;
    }

    .font-12em {
        font-size: 1.2em;
    }

    .font-15em {
        font-size: 1.5em;
    }

    .font-2em {
        font-size: 2em;
    }

/* Text Color Classes*/

    .black {
        color: black;
    }

    .white {
        color: white;
    }

/* Background Color Classes*/

    .bg-black {
        background-color: black;
    }

    .bg-white {
        background-color: white;
    }

    .bg-orange {
        background-color: #FF5F27;
    }

/* Extra Classes*/

    .logo {
        left: 50px;
    }

    .input-email {
        height: 40px;
        width: 300px;
        border: none;
        border-radius: 20px;
    }

    .button {
        height: 40px;
        width: 200px;
        border: none;
        border-radius: 20px;
    }

    .mobile_menu_button {
        height: 40px;
        width: 40px;
        cursor: pointer;
        background-image: url(../images/barra-de-menu.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        right: 50px;
    }