/* Desktop menu style*/

    nav.desktop_menu ul {
        right: 50px;
    }

    nav.menu ul li:nth-of-type(4) {
        border: 1px solid white;
        border-radius: 20px;
    }

/* Mobile menu style*/

    nav.mobile_menu ul{
        z-index: -1;
        height: 0px;
        overflow: hidden;
        background-color: #31475E;
        transition: 0.5s;
        top: 0px;
    }

/* Header style*/

    header {
        z-index: 1;
        height: 522px;
        background-image: url(../images/bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    header form {
        left: 50px;
    }

    header form h1 {
        max-width: 500px;
    }

/* Main style*/

    main section.introduction p {
        max-width: 750px;
    }

    main > section.test-1 {
        height: 300px;
        width: 100%;
    }

    main section.complement div {
        max-width: 550px;
    }

    section.complement div p {
        max-width: 500px;
    }

    .rancho-print {
        min-width: 50px;
    }

/* Footer style*/

    footer {

    }