/* Desktop menu style*/

    nav.desktop_menu {

    }

/* Mobile menu style*/

    nav.mobile_menu {
        
    }

/* Header style*/

    header {
        height: 520px;
        background-image: url(../images/bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

/* Main style*/

    main {

    }

/* Footer style*/

    footer {

    }