@media screen and (max-width: 834px) {

/* Remove desktop menu on small screens */

    header > nav.desktop_menu {
        display: none;
    }

/* Add mobile menu on small screens */

    header > nav.mobile_menu {
        display: flex;
    }

/* Fixed header form position on small screens */

    header > form.h-fit {
        left: 0;
        margin: 0 auto;
        float: none;
        display: flex;
        text-align: center;
        top: 40px;
    }

/* Fixed header form position on small screens */

    nav.menu > img.logo {
        left: 10px;
    }

    nav.menu > div.mobile_menu_button {
        right: 10px;
    }

/* Fixed section quote style on small screens */

    main > section.quote {
        border-radius: 0;
        display: flex;
    }

    main > section.quote > div {
        position: initial;
        border-radius: 0;
        opacity: 0.75;
    }

}